{
 "openapi": "3.1.0",
 "info": {
  "title": "Claid REST API",
  "version": "v1",
  "description": "Claid REST API v1 - the AI image editing, enhancement, generation and image-to-video API operated by Let's Enhance (Claid.ai). Covers synchronous and asynchronous image editing, batch processing, direct upload, AI edit by natural-language instruction, AI fashion models, AI background scene creation, image generation, image-to-video generation, and cloud storage connector management. Consolidated verbatim from the per-endpoint OpenAPI 3.1 definitions published in the Claid API reference at https://docs.claid.ai/."
 },
 "servers": [
  {
   "url": "https://api.claid.ai",
   "description": "Claid API production"
  }
 ],
 "tags": [
  {
   "name": "Image",
   "description": "Encompasses operations with images."
  },
  {
   "name": "Video",
   "description": "Encompasses operations with videos."
  },
  {
   "name": "Storage",
   "description": "Perform operations with storage: check supported storage types, safely connect your cloud buckets and more."
  }
 ],
 "paths": {
  "/v1/scene/create": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Create Scene Api",
    "description": "Specifies: \n- object to place on the scene and its properties (`object`)\n- scene properties (`scene`)\n- how many images will be created and where they will be stored (`output`)",
    "operationId": "create_scene_api_v1_scene_create_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SceneCreateAPIIn"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_ScenePipelineResponseOut_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_generation"
      ]
     },
     {
      "OAuth2PasswordBearer": []
     }
    ]
   }
  },
  "/v1/image/ai-fashion-models": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Async Try On Generation Api",
    "description": "AI Fashion Models generation",
    "operationId": "async_try_on_generation_api_v1_image_ai_fashion_models_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TryOnAPIRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_TryOnAPIAcceptedResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     },
     {
      "OAuth2PasswordBearer": []
     }
    ]
   }
  },
  "/v1/image/ai-fashion-models/{processing_request_id}": {
   "get": {
    "tags": [
     "Image"
    ],
    "summary": "Async Try On Generation Async Status",
    "description": "AI Fashion Models generation result",
    "operationId": "async_try_on_generation_async_status_v1_image_ai_fashion_models__processing_request_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Processing Request Id",
       "type": "integer"
      },
      "name": "processing_request_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_TryOnAPIResultResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Web image not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/ai-edit": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Async Ai Edit Generation Api",
    "description": "AI Edit",
    "operationId": "async_ai_edit_generation_api_v1_image_ai_edit_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AiEditAPIRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_AiEditAcceptedResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     },
     {
      "OAuth2PasswordBearer": []
     }
    ]
   }
  },
  "/v1/image/ai-edit/{ai_edit_id}": {
   "get": {
    "tags": [
     "Image"
    ],
    "summary": "Async Ai Edit Generation Api Status",
    "description": "Get AI Edit generation result",
    "operationId": "async_ai_edit_generation_api_status_v1_image_ai_edit__ai_edit_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Ai Edit Id",
       "type": "integer"
      },
      "name": "ai_edit_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_AiEditResultResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Web image not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Image Edit",
    "description": "Specifies: \n- what image will be processed (`input`)\n- how it will be processed (`operations`)\n- where it will be stored (`output`)",
    "operationId": "image_edit_v1_image_edit_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EditRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_EditResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": []
     },
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit/async": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Async Image Edit",
    "description": "Specifies: \n- what image will be processed (`input`)\n- how it will be processed (`operations`)\n- where it will be stored (`output`)",
    "operationId": "async_image_edit_v1_image_edit_async_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AsyncEditRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_AsyncAcceptedResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": []
     },
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit/async/{task_id}": {
   "get": {
    "tags": [
     "Image"
    ],
    "summary": "Async Image Edit Result",
    "operationId": "async_image_edit_result_v1_image_edit_async__task_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Task Id",
       "type": "integer"
      },
      "name": "task_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_AsyncResultResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Batch image edit pipeline not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit/batch": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Process Batch Image Edit",
    "description": "Specifies: \n- what images will be processed (`input`)\n- how they will be processed (`operations`)\n- where they will be stored (`output`)",
    "operationId": "process_batch_image_edit_v1_image_edit_batch_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/BatchEditRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_BatchAcceptedResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": []
     },
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit/batch/{task_id}": {
   "get": {
    "tags": [
     "Image"
    ],
    "summary": "Image Edit Batch Async Results",
    "operationId": "image_edit_batch_async_results_v1_image_edit_batch__task_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Task Id",
       "type": "integer"
      },
      "name": "task_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_BatchResultResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Batch image edit pipeline not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/edit/upload": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Image Edit Upload",
    "description": "Specifies: \n- how the image will be processed (`operations`)\n- where it will be stored (`output`)",
    "operationId": "image_edit_upload_v1_image_edit_upload_post",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "$ref": "#/components/schemas/Body_image_edit_upload_v1_image_edit_upload_post"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_EditResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": []
     },
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/image/generate": {
   "post": {
    "tags": [
     "Image"
    ],
    "summary": "Image Generate",
    "description": "Specifies: \n- text prompt for image generation (`input`)\n- image generation options (`options`)\n- where results will be stored (`output`)",
    "operationId": "image_generate_v1_image_generate_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/GenerateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_GenerateResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": []
     },
     {
      "OAuth2PasswordBearer": [
       "image_editing"
      ]
     }
    ]
   }
  },
  "/v1/video/generate": {
   "post": {
    "tags": [
     "Video"
    ],
    "summary": "Video Generate Api",
    "description": "Generate an animation asynchronously",
    "operationId": "video_generate_api_v1_video_generate_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ImageVideoRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_VideoAcceptedResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "402": {
      "description": "No API calls left.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "429": {
      "description": "Too many requests.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "video_generation"
      ]
     },
     {
      "OAuth2PasswordBearer": []
     }
    ]
   }
  },
  "/v1/video/generate/{animation_id}": {
   "get": {
    "tags": [
     "Video"
    ],
    "summary": "Video Generate Api Status",
    "description": "Get the status of the animation generation task",
    "operationId": "video_generate_api_status_v1_video_generate__animation_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Animation Id",
       "type": "integer"
      },
      "name": "animation_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_VideoStatusResponse_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Web image not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Validation Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HTTPValidationError"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "video_generation"
      ]
     }
    ]
   }
  },
  "/v1/storage/storage-types": {
   "get": {
    "tags": [
     "Storage"
    ],
    "summary": "List Storage Types",
    "description": "Retrieves a list of storage types supported by Claid.",
    "operationId": "list_storage_types_v1_storage_storage_types_get",
    "responses": {
     "200": {
      "description": "List of storage types.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_List_apps.storage.models.StorageType__"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   }
  },
  "/v1/storage/storages": {
   "get": {
    "tags": [
     "Storage"
    ],
    "summary": "List Storages",
    "description": "Retrieves a list of storages connected to your Claid account, as well as their `id`, `name`, `type`, and `parameters`.",
    "operationId": "list_storages_v1_storage_storages_get",
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_List_apps.storage.serializers.StorageOut_Pydantic__"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Storage"
    ],
    "summary": "Create Storage",
    "description": "Connects storage to Claid. You can connect your AWS S3 or GCP bucket, or your own web folder.",
    "operationId": "create_storage_v1_storage_storages_post",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/StorageIn_Pydantic"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_StorageOutDetailed_Pydantic_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   }
  },
  "/v1/storage/storages/{storage_id}": {
   "get": {
    "tags": [
     "Storage"
    ],
    "summary": "Get Storage",
    "description": "Retrieves information about particular storage, including its `id`, `name`, `type`, and `parameters`.",
    "operationId": "get_storage_v1_storage_storages__storage_id__get",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Storage Id",
       "type": "integer"
      },
      "name": "storage_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_StorageOutDetailed_Pydantic_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Storage not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Storage"
    ],
    "summary": "Delete Storage",
    "description": "Disconnects storage from Claid. Note: It doesn't delete your bucket on your cloud platform.",
    "operationId": "delete_storage_v1_storage_storages__storage_id__delete",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Storage Id",
       "type": "integer"
      },
      "name": "storage_id",
      "in": "path"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Storage not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Storage"
    ],
    "summary": "Patch Storage",
    "description": "Changes storage `name`, `type`, and/or `parameters`.",
    "operationId": "patch_storage_v1_storage_storages__storage_id__patch",
    "parameters": [
     {
      "required": true,
      "schema": {
       "title": "Storage Id",
       "type": "integer"
      },
      "name": "storage_id",
      "in": "path"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/StorageInUpdate_Pydantic"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Response_StorageOutDetailed_Pydantic_"
        }
       }
      }
     },
     "401": {
      "description": "Authorization is required.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "403": {
      "description": "Not enough permissions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "404": {
      "description": "Storage not found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/HttpErrorDetails"
        }
       }
      }
     }
    },
    "security": [
     {
      "OAuth2PasswordBearer": [
       "storage"
      ]
     }
    ]
   }
  }
 },
 "components": {
  "securitySchemes": {
   "OAuth2PasswordBearer": {
    "type": "oauth2",
    "flows": {
     "password": {
      "scopes": {},
      "tokenUrl": "token"
     }
    },
    "description": "To work with the Claid API, send requests over HTTPS and authenticate using the `Authorization` header in the following format:`Authorization: Bearer <YOUR_API_KEY>`. You do not need to provide a password.\n\nTo get your API key, [sign in to your Claid account](https://claid.ai/login) and click ***Create API key*** button from the ***Overview*** or ***API keys*** pages.\n\nClaid API\u2019s base URL is `https://api.claid.ai/v1/`. All available endpoints are listed in the [Storage](#tag/Storage) and [Image](#tag/Image) sections. \n\n## Bearer\n\nThis API uses OAuth 2.0 [bearer token](https://datatracker.ietf.org/doc/html/rfc6750) (API key) to authorize requests."
   }
  },
  "schemas": {
   "SceneCreateAPIIn": {
    "title": "scene creation options",
    "required": [
     "object",
     "scene"
    ],
    "type": "object",
    "properties": {
     "output": {
      "title": "Output URL",
      "anyOf": [
       {
        "$ref": "#/components/schemas/SceneCreateAPIOutputIn"
       },
       {
        "type": "string",
        "minLength": 1,
        "maxLength": 4096,
        "format": "uri"
       }
      ],
      "description": "URL of the output images. If `output` is not defined, we store the output image on our bucket and return the temporary URL. Images are stored for one day.",
      "default": {
       "number_of_images": 4,
       "format": "png"
      }
     },
     "object": {
      "title": "Object manipulation",
      "anyOf": [
       {
        "$ref": "#/components/schemas/SceneCreateAPIObjectAbsoluteIn"
       },
       {
        "$ref": "#/components/schemas/SceneCreateAPIObjectOriginalIn"
       },
       {
        "$ref": "#/components/schemas/SceneCreateAPIObjectPaddingIn"
       }
      ],
      "description": "Manipulate object on the scene so that the output images meet your requirements."
     },
     "scene": {
      "title": "Scene customization",
      "anyOf": [
       {
        "$ref": "#/components/schemas/SceneCreateAPISceneBackgroundEffectIn"
       },
       {
        "$ref": "#/components/schemas/SceneCreateAPIScenePromptIn"
       },
       {
        "$ref": "#/components/schemas/SceneCreateAPISceneTemplateIn"
       }
      ],
      "description": "Customize the scene so that the output images meet your requirements."
     }
    },
    "additionalProperties": false
   },
   "SceneCreateAPIOutputIn": {
    "title": "Output customization",
    "type": "object",
    "properties": {
     "number_of_images": {
      "title": "Number of images",
      "maximum": 4,
      "minimum": 1,
      "type": "integer",
      "description": "Number of images to create. By default 4 images will be created.",
      "default": 4
     },
     "destination": {
      "title": "Output URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the output images. If `output` is not defined, we store the output image on our bucket and return the temporary URL. Images are stored for one day.",
      "format": "uri"
     },
     "format": {
      "title": "Format",
      "anyOf": [
       {
        "$ref": "#/components/schemas/FormatEnum"
       },
       {
        "$ref": "#/components/schemas/FormatJpegOptions"
       },
       {
        "$ref": "#/components/schemas/FormatPngOptions"
       },
       {
        "$ref": "#/components/schemas/FormatWebpOptions"
       },
       {
        "$ref": "#/components/schemas/FormatAvifOptions"
       }
      ],
      "description": "Converts images to one of the following formats: `\"jpeg\"`, `\"png\"`, `\"webp\"`, `\"avif\"`. Selecting *Jpeg Options* allows to specify quality.",
      "default": "png"
     }
    },
    "additionalProperties": false
   },
   "FormatEnum": {
    "title": "Format",
    "enum": [
     "jpeg",
     "png",
     "webp",
     "avif",
     "tiff"
    ],
    "type": "string",
    "description": "Converts the image into specified format. Examples: `\"jpeg\"`, `\"png\"`."
   },
   "FormatJpegOptions": {
    "title": "jpeg options",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "jpeg"
      ],
      "type": "string",
      "description": "Must have value `\"jpeg\"`"
     },
     "quality": {
      "title": "Quality",
      "maximum": 100,
      "minimum": 1,
      "type": "integer",
      "default": 85
     },
     "progressive": {
      "title": "Progressive",
      "type": "boolean",
      "description": "Progressive JPEG loads in a browser in successive waves until a clear picture is formed. This improves image's loading speed.",
      "default": true
     }
    },
    "additionalProperties": false
   },
   "FormatPngOptions": {
    "title": "png options",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "png"
      ],
      "type": "string",
      "description": "Must have value `\"png\"`"
     },
     "compression": {
      "allOf": [
       {
        "$ref": "#/components/schemas/FormatCompressionLevelEnum"
       }
      ],
      "description": "Specifies compression effort that will be applied during the PNG image encoding. Should have one of values: `\"fast\"`, `\"best\"`, or `\"optimal\"`. Defaults to `\"optimal\"`.",
      "default": "optimal"
     }
    },
    "additionalProperties": false
   },
   "FormatCompressionLevelEnum": {
    "title": "Compression",
    "enum": [
     "fast",
     "best",
     "optimal"
    ],
    "type": "string",
    "description": "Indicates compression effort. \n\n| Value | Description |\n| --- | --- |\n| `\"fast\"` |  Used to apply minimum compression resulting in a bigger image size but less processing time.|\n| `\"best\"` | Used to apply maximum compression resulting in a smaller image size but more processing time.|\n| `\"optimal\"` | DEFAULT. Used to balance between compression effort and the processing time.|\n"
   },
   "FormatWebpOptions": {
    "title": "webp options",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "webp"
      ],
      "type": "string",
      "description": "Must have value `\"webp\"`"
     },
     "compression": {
      "title": "Compression",
      "anyOf": [
       {
        "$ref": "#/components/schemas/WebpCompressionEnum"
       },
       {
        "$ref": "#/components/schemas/WebpLossyCompressionOptions"
       },
       {
        "$ref": "#/components/schemas/WebpLosslessCompressionOptions"
       }
      ],
      "description": "The WEBP codec supports both lossless and lossy modes of operation, so you can select the one that is appropriate for your goals. Lossy compression allows you to reduce the size of the image significantly in exchange for some loss of data, reducing the quality of an image. You can specify the amount of loss you are willing to accept. By default it's set to to 75. Lossless compression allows you to save maximum image details in exchange for a significantly increased file size.",
      "default": {
       "type": "lossy",
       "quality": 75
      }
     }
    },
    "additionalProperties": false
   },
   "WebpCompressionEnum": {
    "title": "WEBP Compression",
    "enum": [
     "lossy",
     "lossless"
    ],
    "type": "string",
    "description": "Selects the WEBP compression type: \n\n| Value | Description |\n| --- | --- |\n| `\"lossy\"` | Lossy compression allows you to reduce the size of the image significantly in exchange for some loss of data, reducing the quality of an image.|\n| `\"lossless\"` | Lossless compression allows you to save maximum image details in exchange for a significantly increased file size.|\n"
   },
   "WebpLossyCompressionOptions": {
    "title": "WebpLossyCompressionOptions",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "lossy"
      ],
      "type": "string",
      "description": "Must have value `\"lossy\"`"
     },
     "quality": {
      "title": "Quality",
      "maximum": 100,
      "minimum": 1,
      "type": "integer",
      "default": 75
     }
    },
    "additionalProperties": false
   },
   "WebpLosslessCompressionOptions": {
    "title": "WebpLosslessCompressionOptions",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "lossless"
      ],
      "type": "string",
      "description": "Must have value `\"lossless\"`"
     }
    },
    "additionalProperties": false
   },
   "FormatAvifOptions": {
    "title": "avif options",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "avif"
      ],
      "type": "string",
      "description": "Must have value `\"avif\"`"
     },
     "compression": {
      "title": "Compression",
      "anyOf": [
       {
        "$ref": "#/components/schemas/AvifCompressionEnum"
       },
       {
        "$ref": "#/components/schemas/AvifLossyCompressionOptions"
       },
       {
        "$ref": "#/components/schemas/AvifLosslessCompressionOptions"
       }
      ],
      "description": "The AVIF codec supports both lossless and lossy modes of operation, so you can select the one that is appropriate for your goals. Lossy compression allows you to reduce the size of the image significantly in exchange for some loss of data, reducing the quality of an image. You can specify the amount of loss you are willing to accept. Lossless compression allows you to save maximum image details in exchange for a significantly increased file size.",
      "default": {
       "type": "lossy",
       "quality": 50
      }
     }
    },
    "additionalProperties": false
   },
   "AvifCompressionEnum": {
    "title": "AVIF Compression",
    "enum": [
     "lossy",
     "lossless"
    ],
    "type": "string",
    "description": "Selects the AVIF compression type: \n\n| Value | Description |\n| --- | --- |\n| `\"lossy\"` | Lossy compression allows you to reduce the size of the image significantly in exchange for some loss of data, reducing the quality of an image.|\n| `\"lossless\"` | Lossless compression allows you to save maximum image details in exchange for a significantly increased file size.|\n"
   },
   "AvifLossyCompressionOptions": {
    "title": "AvifLossyCompressionOptions",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "lossy"
      ],
      "type": "string",
      "description": "Must have value `\"lossy\"`"
     },
     "quality": {
      "title": "Quality",
      "maximum": 100,
      "minimum": 1,
      "type": "integer",
      "default": 50
     }
    },
    "additionalProperties": false
   },
   "AvifLosslessCompressionOptions": {
    "title": "AvifLosslessCompressionOptions",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "lossless"
      ],
      "type": "string",
      "description": "Must have value `\"lossless\"`"
     }
    },
    "additionalProperties": false
   },
   "SceneCreateAPIObjectAbsoluteIn": {
    "title": "SceneCreateAPIObjectAbsoluteIn",
    "required": [
     "image_url"
    ],
    "type": "object",
    "properties": {
     "image_url": {
      "title": "Object image file URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Should be from 1 to 4096 characters. Image must be accessible by our system. For better results, the background of the image should be transparent.",
      "format": "uri"
     },
     "placement_type": {
      "title": "Placement Type",
      "enum": [
       "absolute"
      ],
      "type": "string",
      "description": "`\"absolute\"` placement type allows to manually specify the absolute position, scale, and rotation degree of the object on a scene.",
      "default": "absolute"
     },
     "rotation_degree": {
      "title": "Degree of object rotation",
      "anyOf": [
       {
        "type": "number",
        "minimum": 0,
        "maximum": 360
       },
       {
        "type": "integer",
        "minimum": 0,
        "maximum": 360
       }
      ],
      "description": "Degree of object rotation on the scene. By default, the object is not rotated. (i.e. 0.0).",
      "default": 0
     },
     "scale": {
      "title": "Relative object scale",
      "anyOf": [
       {
        "type": "integer",
        "minimum": 0,
        "maximum": 1
       },
       {
        "type": "number",
        "minimum": 0.01,
        "maximum": 1
       }
      ],
      "description": "Relative object scale in relation to the scene. By default, the object is scaled to the scene edges. (i.e. 1.0).",
      "default": 1
     },
     "position": {
      "title": "Relative object position",
      "allOf": [
       {
        "$ref": "#/components/schemas/ObjectPosition"
       }
      ],
      "description": "Relative object position on the scene. By default, the object is positioned at the center of the scene (i.e. x=0.5, y=0.5).",
      "default": {
       "x": 0.5,
       "y": 0.5
      }
     }
    },
    "additionalProperties": false
   },
   "ObjectPosition": {
    "title": "ObjectPosition",
    "type": "object",
    "properties": {
     "x": {
      "title": "Horizontal position",
      "maximum": 1,
      "minimum": 0,
      "type": "number",
      "description": "Relative position on the scene, where 0 is the left edge of the image and 1 is the right edge of the image.",
      "default": 0.5
     },
     "y": {
      "title": "Vertical position",
      "maximum": 1,
      "minimum": 0,
      "type": "number",
      "description": "Relative position on the scene, where 0 is the bottom edge of the image and 1 is the top edge of the image.",
      "default": 0.5
     }
    },
    "additionalProperties": false
   },
   "SceneCreateAPIObjectOriginalIn": {
    "title": "SceneCreateAPIObjectOriginalIn",
    "required": [
     "image_url",
     "placement_type"
    ],
    "type": "object",
    "properties": {
     "image_url": {
      "title": "Object image file URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Should be from 1 to 4096 characters. Image must be accessible by our system. For better results, the background of the image should be transparent.",
      "format": "uri"
     },
     "placement_type": {
      "title": "Placement Type",
      "enum": [
       "original"
      ],
      "type": "string",
      "description": "`\"original\"` placement type instructs to use an object position and scale from the input image, meaning this placement method is fully automated and does not require any additional parameters."
     }
    },
    "additionalProperties": false
   },
   "SceneCreateAPIObjectPaddingIn": {
    "title": "SceneCreateAPIObjectPaddingIn",
    "required": [
     "image_url",
     "placement_type",
     "padding"
    ],
    "type": "object",
    "properties": {
     "image_url": {
      "title": "Object image file URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Should be from 1 to 4096 characters. Image must be accessible by our system. For better results, the background of the image should be transparent.",
      "format": "uri"
     },
     "placement_type": {
      "title": "Placement Type",
      "enum": [
       "padding"
      ],
      "type": "string",
      "description": "`\"padding\"` placement type allows to add a space around the object equally to each of 4 sides, or for height&width separately."
     },
     "padding": {
      "title": "Padding around the object",
      "type": "string",
      "description": "Add a space around the object equally to each of 4 sides, or for height&width separately. Can not be bigger than half of image width/height."
     }
    },
    "additionalProperties": false
   },
   "SceneCreateAPISceneBackgroundEffectIn": {
    "title": "Scene background effect",
    "required": [
     "effect"
    ],
    "type": "object",
    "properties": {
     "model": {
      "title": "Scene creation model",
      "allOf": [
       {
        "$ref": "#/components/schemas/SceneCreateModelEnum"
       }
      ],
      "description": "Selects the scene creation model. By default, the model is 'v1'.",
      "default": "v1"
     },
     "effect": {
      "$ref": "#/components/schemas/SceneEffectEnum"
     },
     "color": {
      "title": "Product background coloring",
      "anyOf": [
       {
        "type": "string",
        "title": "Color",
        "description": "Color as a hexadecimal. Examples: `\"#ffffff\"`, `\"#000000\"`."
       },
       {
        "$ref": "#/components/schemas/ColorEnum"
       }
      ],
      "description": "Color as a hexadecimal."
     },
     "view": {
      "title": "Product viewpoint",
      "allOf": [
       {
        "$ref": "#/components/schemas/TemplateViewAutoEnum"
       }
      ],
      "description": "The position of the viewpoint relative to the scene\n\n| Value | Description |\n| --- | --- |\n| `\"top\"` | The view is top-down, looking down on the scene from above.|\n| `\"front\"` | The view is horizontal, looking directly on the scene.|\n| `\"auto\"` | The view is automatically selected.|",
      "default": "auto"
     },
     "aspect_ratio": {
      "title": "Scene aspect ratio",
      "allOf": [
       {
        "$ref": "#/components/schemas/SceneAspectRatioEnum"
       }
      ],
      "description": "Aspect ratio of the scene. By default, the aspect ratio is 1:1.",
      "default": "1:1"
     }
    },
    "additionalProperties": false
   },
   "SceneCreateModelEnum": {
    "title": "SceneCreateModelEnum",
    "enum": [
     "v1",
     "v2-beta",
     "v2"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "SceneEffectEnum": {
    "title": "Additional scene effect",
    "enum": [
     "shadows"
    ],
    "type": "string",
    "description": "Selects the scene effect.\n\n| Value | Description |\n| --- | --- |\n| `\"shadows\"` | Apply shadow generation on the image.|\n"
   },
   "ColorEnum": {
    "title": "Transparent",
    "enum": [
     "transparent"
    ],
    "type": "string",
    "description": "Makes the background of the image transparent, only works for `\"png\"` output format."
   },
   "TemplateViewAutoEnum": {
    "title": "Template view direction",
    "enum": [
     "auto",
     "top",
     "front"
    ],
    "type": "string",
    "description": "Selects the template view direction.\n\n| Value | Description |\n| --- | --- |\n| `\"top\"` | The view is top-down, looking down on the scene from above.|\n| `\"front\"` | The view is horizontal, looking directly on the scene.|\n| `\"auto\"` | The view is automatically selected.|"
   },
   "SceneAspectRatioEnum": {
    "title": "SceneAspectRatioEnum",
    "enum": [
     "21:9",
     "1:1",
     "4:3",
     "3:2",
     "2:3",
     "5:4",
     "4:5",
     "3:4",
     "16:9",
     "9:16"
    ],
    "type": "string",
    "description": "Aspect ratios supported by scene generation (both creative and high-precision modes)"
   },
   "SceneCreateAPIScenePromptIn": {
    "title": "Template-free scene",
    "required": [
     "prompt"
    ],
    "type": "object",
    "properties": {
     "model": {
      "title": "Scene creation model",
      "allOf": [
       {
        "$ref": "#/components/schemas/SceneCreateModelEnum"
       }
      ],
      "description": "Selects the scene creation model. By default, the model is 'v1'.",
      "default": "v1"
     },
     "prompt": {
      "title": "Text prompt for scene creation",
      "anyOf": [
       {
        "type": "string",
        "minLength": 3,
        "maxLength": 2048
       },
       {
        "$ref": "#/components/schemas/ScenePromptAdvancedIn"
       }
      ],
      "description": "Text prompt that will be used to create the scene. Should be from 3 to 2048 characters."
     },
     "negative_prompt": {
      "title": "Negative text prompt for scene creation",
      "maxLength": 2048,
      "minLength": 3,
      "type": "string",
      "description": "Text prompt that will exclude things from the scene. Should be from 3 to 2048 characters. "
     },
     "steps": {
      "title": "Number of inference steps",
      "exclusiveMaximum": 50,
      "minimum": 1,
      "type": "integer",
      "description": "The more inference steps you use, the better the results, but the more steps, the longer it takes to generate. If you want faster results, you can use fewer steps. If you want higher-quality results, you can use more steps. By default each `template_mode` has an optimal `steps` value."
     },
     "color": {
      "title": "Color",
      "type": "string",
      "description": "Color as a hexadecimal. Examples: `\"#ffffff\"`, `\"#000000\"`."
     },
     "aspect_ratio": {
      "title": "Scene aspect ratio",
      "allOf": [
       {
        "$ref": "#/components/schemas/SceneAspectRatioEnum"
       }
      ],
      "description": "Aspect ratio of the scene. By default, the aspect ratio is 1:1.",
      "default": "1:1"
     },
     "preference": {
      "title": "Preference control",
      "allOf": [
       {
        "$ref": "#/components/schemas/PreferenceEnum"
       }
      ],
      "description": "Preference control allows you to balance between generation speed and output image quality. Higher speed decreases image quality but enables quicker experimentation to find the best parameters for your background.\n\n| Value | Description |\n| --- | --- |\n| `\"fast\"` | Faster generation, lower quality.|\n| `\"optimal\"` | Balance between speed and quality.|| `\"best\"` | Highest quality, slower generation.|",
      "default": "optimal"
     }
    },
    "additionalProperties": false
   },
   "ScenePromptAdvancedIn": {
    "title": "ScenePromptAdvancedIn",
    "type": "object",
    "properties": {
     "text": {
      "title": "Text prompt for scene creation",
      "maxLength": 2048,
      "minLength": 3,
      "type": "string",
      "description": "Text prompt that will be used to create the scene. Should be from 3 to 2048 characters."
     },
     "generate": {
      "title": "Auto-generate prompt",
      "type": "boolean",
      "description": "If `true`, the prompt will be generated automatically based on the input image.By default, the prompt is not auto-generated. If `true`, the `text` is not allowed.",
      "default": false
     },
     "guidelines": {
      "title": "Guidelines",
      "maxLength": 1000,
      "minLength": 3,
      "type": "string",
      "description": "Guidelines for prompt generation. Only available when `generate` is `true`."
     }
    },
    "additionalProperties": false
   },
   "PreferenceEnum": {
    "title": "Preference control",
    "enum": [
     "fast",
     "optimal",
     "best"
    ],
    "type": "string",
    "description": "Preference control allows you to balance between generation speed and output image quality. Higher speed decreases image quality but enables quicker experimentation to find the best parameters for your background.\n\n| Value | Description |\n| --- | --- |\n| `\"fast\"` | Faster generation, lower quality.|\n| `\"optimal\"` | Balance between speed and quality.|| `\"best\"` | Highest quality, slower generation.|"
   },
   "SceneCreateAPISceneTemplateIn": {
    "title": "Template-based scene",
    "required": [
     "template_url",
     "view"
    ],
    "type": "object",
    "properties": {
     "model": {
      "title": "Scene creation model",
      "allOf": [
       {
        "$ref": "#/components/schemas/SceneCreateModelEnum"
       }
      ],
      "description": "Selects the scene creation model. By default, the model is 'v1'.",
      "default": "v1"
     },
     "template_mode": {
      "title": "Template mode",
      "allOf": [
       {
        "$ref": "#/components/schemas/TemplateModeEnum"
       }
      ],
      "description": "Selects how closely the result should match the template.\n\n| Value | Description |\n| --- | --- |\n| `\"transform\"` | Template is transformed according to the prompt and color.|\n| `\"adjust\"` | Template is slightly adjusted to the product and prompt.|| `\"lock\"` | Template is preserved with maximum detail.|",
      "default": "transform"
     },
     "template_url": {
      "title": "Template image file URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Should be from 1 to 4096 characters. Image must be accessible by our system. Is optional, if `prompt` is specified.",
      "format": "uri"
     },
     "color": {
      "title": "Color",
      "type": "string",
      "description": "Color as a hexadecimal. Examples: `\"#ffffff\"`, `\"#000000\"`."
     },
     "view": {
      "title": "Template viewpoint",
      "allOf": [
       {
        "$ref": "#/components/schemas/TemplateViewEnum"
       }
      ],
      "description": "The position of the viewpoint relative to the scene\n\n| Value | Description |\n| --- | --- |\n| `\"top\"` | The view is top-down, looking down on the scene from above.|\n| `\"front\"` | The view is horizontal, looking directly on the scene.|"
     },
     "prompt": {
      "title": "Text prompt for scene creation",
      "anyOf": [
       {
        "type": "string",
        "minLength": 3,
        "maxLength": 2048
       },
       {
        "$ref": "#/components/schemas/ScenePromptAdvancedIn"
       }
      ],
      "description": "Text prompt that will be used to create the scene. Should be from 3 to 2048 characters. "
     },
     "negative_prompt": {
      "title": "Negative text prompt for scene creation",
      "maxLength": 2048,
      "minLength": 3,
      "type": "string",
      "description": "Text prompt that will exclude things from the scene. Should be from 3 to 2048 characters. "
     },
     "steps": {
      "title": "Number of inference steps",
      "exclusiveMaximum": 50,
      "minimum": 1,
      "type": "integer",
      "description": "The more inference steps you use, the better the results, but the more steps, the longer it takes to generate. If you want faster results, you can use fewer steps. If you want higher-quality results, you can use more steps. By default each `template_mode` has an optimal `steps` value."
     }
    },
    "additionalProperties": false
   },
   "TemplateModeEnum": {
    "title": "Template mode",
    "enum": [
     "transform",
     "lock",
     "adjust"
    ],
    "type": "string",
    "description": "Selects how closely the result should match the template.\n\n| Value | Description |\n| --- | --- |\n| `\"transform\"` | Template is transformed according to the prompt and color.|\n| `\"adjust\"` | Template is slightly adjusted to the product and prompt.|| `\"lock\"` | Template is preserved with maximum detail.|"
   },
   "TemplateViewEnum": {
    "title": "Template view direction",
    "enum": [
     "top",
     "front"
    ],
    "type": "string",
    "description": "Selects the template view direction.\n\n| Value | Description |\n| --- | --- |\n| `\"top\"` | The view is top-down, looking down on the scene from above.|\n| `\"front\"` | The view is horizontal, looking directly on the scene.|"
   },
   "Response_ScenePipelineResponseOut_": {
    "title": "Response[ScenePipelineResponseOut]",
    "type": "object",
    "properties": {
     "data": {
      "$ref": "#/components/schemas/ScenePipelineResponseOut"
     }
    },
    "description": "Wrapper for responses"
   },
   "ScenePipelineResponseOut": {
    "title": "ScenePipelineResponseOut",
    "required": [
     "input",
     "output"
    ],
    "type": "object",
    "properties": {
     "input": {
      "$ref": "#/components/schemas/PipelineInputObject"
     },
     "output": {
      "title": "Output",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/PipelineOutputObject"
      }
     },
     "profiling": {
      "title": "Profiling",
      "type": "object"
     }
    }
   },
   "PipelineInputObject": {
    "title": "PipelineInputObject",
    "required": [
     "ext",
     "mps",
     "mime",
     "format",
     "width",
     "height"
    ],
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension. Can have values: `\"jpg\"`, `\"png\"`, `\"avif\"`"
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as \u2018media type\u2019)"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format. Can have values: `\"jpeg\"`, `\"png\"`, `\"avif\"`"
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     }
    }
   },
   "PipelineOutputObject": {
    "title": "PipelineOutputObject",
    "required": [
     "ext",
     "mps",
     "mime",
     "format",
     "width",
     "height"
    ],
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension. Can have values: `\"jpg\"`, `\"png\"`, `\"avif\"`"
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as \u2018media type\u2019)"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format. Can have values: `\"jpeg\"`, `\"png\"`, `\"avif\"`"
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     },
     "tmp_url": {
      "title": "Tmp Url",
      "type": "string",
      "description": "Temporal URL of a processed image"
     },
     "object_key": {
      "title": "Object Key",
      "type": "string",
      "description": "Path to a processed image in a bucket"
     },
     "object_bucket": {
      "title": "Object Bucket",
      "type": "string",
      "description": "Bucket name"
     },
     "object_uri": {
      "title": "Object Uri",
      "type": "string",
      "description": "URI of a processed image in a bucket"
     },
     "claid_storage_uri": {
      "title": "Claid Storage Uri",
      "type": "string",
      "description": "URI of a processed image in a storage"
     }
    }
   },
   "HttpErrorDetails": {
    "title": "HttpErrorDetails",
    "required": [
     "error_code",
     "error_type",
     "error_message"
    ],
    "type": "object",
    "properties": {
     "error_code": {
      "title": "Error Code",
      "type": "string"
     },
     "error_type": {
      "$ref": "#/components/schemas/ErrorType"
     },
     "error_message": {
      "title": "Error Message",
      "type": "string"
     },
     "error_details": {
      "title": "Error Details",
      "type": "object",
      "default": {}
     }
    }
   },
   "ErrorType": {
    "title": "ErrorType",
    "enum": [
     "auth",
     "dlvr",
     "general",
     "le",
     "survey",
     "storage",
     "image",
     "user_settings",
     "user",
     "validation",
     "analytics",
     "scene",
     "billing",
     "web",
     "runtime_settings",
     "animation",
     "custom_models"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "TryOnAPIRequest": {
    "title": "TryOnAPIRequest",
    "required": [
     "input",
     "options"
    ],
    "type": "object",
    "properties": {
     "output": {
      "title": "Output",
      "anyOf": [
       {
        "$ref": "#/components/schemas/TryOnAPIRequestOutputObject"
       },
       {
        "type": "string",
        "minLength": 1,
        "maxLength": 4096,
        "format": "uri"
       }
      ],
      "description": "Customize output format, destination and number of images.",
      "default": {
       "number_of_images": 1,
       "format": "png"
      }
     },
     "input": {
      "title": "Input",
      "allOf": [
       {
        "$ref": "#/components/schemas/TryOnAPIRequestInputOptions"
       }
      ],
      "description": "Input model and clothing images for the generation."
     },
     "options": {
      "title": "Options",
      "allOf": [
       {
        "$ref": "#/components/schemas/TryOnAPIRequestOptionsObject"
       }
      ],
      "description": "Customize the generation."
     }
    },
    "additionalProperties": false
   },
   "TryOnAPIRequestOutputObject": {
    "title": "TryOnAPIRequestOutputObject",
    "type": "object",
    "properties": {
     "number_of_images": {
      "title": "Number of images",
      "maximum": 4,
      "minimum": 1,
      "type": "integer",
      "description": "Number of output images.",
      "default": 1
     },
     "destination": {
      "title": "Destination",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "Customize the result output.",
      "format": "uri"
     },
     "format": {
      "allOf": [
       {
        "$ref": "#/components/schemas/TryOnAPIFormatEnum"
       }
      ],
      "description": "Output image format.",
      "default": "png"
     }
    },
    "additionalProperties": false
   },
   "TryOnAPIFormatEnum": {
    "title": "TryOnAPIFormatEnum",
    "enum": [
     "jpeg",
     "png"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "TryOnAPIRequestInputOptions": {
    "title": "TryOnAPIRequestInputOptions",
    "required": [
     "clothing"
    ],
    "type": "object",
    "properties": {
     "model": {
      "title": "Input model URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the human model image. Image must be accessible by our system.",
      "format": "uri"
     },
     "clothing": {
      "title": "Clothing images URLs",
      "maxItems": 5,
      "minItems": 1,
      "type": "array",
      "items": {
       "type": "string",
       "minLength": 1,
       "maxLength": 4096,
       "format": "uri"
      },
      "description": "List of clothing images URLs. Images must be accessible by our system."
     }
    },
    "additionalProperties": false
   },
   "TryOnAPIRequestOptionsObject": {
    "title": "TryOnAPIRequestOptionsObject",
    "type": "object",
    "properties": {
     "pose": {
      "title": "Pose",
      "maxLength": 5000,
      "minLength": 3,
      "type": "string",
      "description": "Pose prompt for the generation.",
      "default": "full body, front view, neutral stance, arms relaxed"
     },
     "background": {
      "title": "Background",
      "maxLength": 5000,
      "minLength": 3,
      "type": "string",
      "description": "Background prompt for the generation.",
      "default": "minimalistic studio background"
     },
     "aspect_ratio": {
      "allOf": [
       {
        "$ref": "#/components/schemas/TryOnAPIAspectRatio"
       }
      ],
      "description": "Aspect ratio of the generated images."
     }
    },
    "additionalProperties": false
   },
   "TryOnAPIAspectRatio": {
    "title": "TryOnAPIAspectRatio",
    "enum": [
     "1:1",
     "2:3",
     "3:2",
     "3:4",
     "4:3",
     "9:16",
     "16:9",
     "21:9",
     "4:5",
     "5:4"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "Response_TryOnAPIAcceptedResponse_": {
    "title": "Response[TryOnAPIAcceptedResponse]",
    "type": "object",
    "properties": {
     "data": {
      "$ref": "#/components/schemas/TryOnAPIAcceptedResponse"
     }
    },
    "description": "Wrapper for responses"
   },
   "TryOnAPIAcceptedResponse": {
    "title": "TryOnAPIAcceptedResponse",
    "required": [
     "id",
     "status",
     "created_at",
     "request",
     "result_url"
    ],
    "type": "object",
    "properties": {
     "id": {
      "title": "Id",
      "type": "integer"
     },
     "status": {
      "$ref": "#/components/schemas/APIV1Status"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     },
     "request": {
      "title": "Request",
      "type": "object"
     },
     "result_url": {
      "title": "Result Url",
      "maxLength": 65536,
      "minLength": 1,
      "type": "string",
      "format": "uri"
     }
    }
   },
   "APIV1Status": {
    "title": "APIV1Status",
    "enum": [
     "ACCEPTED",
     "WAITING",
     "PROCESSING",
     "DONE",
     "ERROR",
     "CANCELLED",
     "PAUSED"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "Response_TryOnAPIResultResponse_": {
    "title": "Response[TryOnAPIResultResponse]",
    "type": "object",
    "properties": {
     "data": {
      "$ref": "#/components/schemas/TryOnAPIResultResponse"
     }
    },
    "description": "Wrapper for responses"
   },
   "TryOnAPIResultResponse": {
    "title": "TryOnAPIResultResponse",
    "required": [
     "id",
     "status",
     "created_at",
     "request"
    ],
    "type": "object",
    "properties": {
     "id": {
      "title": "Id",
      "type": "integer"
     },
     "status": {
      "$ref": "#/components/schemas/APIV1Status"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     },
     "request": {
      "title": "Request",
      "type": "object"
     },
     "errors": {
      "title": "Errors",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TryOnAPIError"
      }
     },
     "result": {
      "$ref": "#/components/schemas/TryOnAPIResult"
     }
    }
   },
   "TryOnAPIError": {
    "title": "TryOnAPIError",
    "required": [
     "error",
     "created_at"
    ],
    "type": "object",
    "properties": {
     "error": {
      "title": "Error",
      "type": "string"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "TryOnAPIResult": {
    "title": "TryOnAPIResult",
    "required": [
     "input_objects",
     "output_objects"
    ],
    "type": "object",
    "properties": {
     "input_objects": {
      "title": "Input Objects",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TryOnAPIImageObject"
      }
     },
     "output_objects": {
      "title": "Output Objects",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TryOnAPIOutputImageObject"
      }
     }
    }
   },
   "TryOnAPIImageObject": {
    "title": "TryOnAPIImageObject",
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension."
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as 'media type')"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format."
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     }
    }
   },
   "TryOnAPIOutputImageObject": {
    "title": "TryOnAPIOutputImageObject",
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension."
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as 'media type')"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format."
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     },
     "tmp_url": {
      "title": "Tmp Url",
      "type": "string",
      "description": "Temporal URL of a processed image"
     },
     "object_key": {
      "title": "Object Key",
      "type": "string",
      "description": "Path to a processed image in a bucket"
     },
     "object_bucket": {
      "title": "Object Bucket",
      "type": "string",
      "description": "Bucket name"
     },
     "object_uri": {
      "title": "Object Uri",
      "type": "string",
      "description": "URI of a processed image in a bucket"
     },
     "claid_storage_uri": {
      "title": "Claid Storage Uri",
      "type": "string",
      "description": "URI of a processed image in a storage"
     }
    }
   },
   "HTTPValidationError": {
    "title": "HTTPValidationError",
    "type": "object",
    "properties": {
     "detail": {
      "title": "Detail",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/ValidationError"
      }
     }
    }
   },
   "ValidationError": {
    "title": "ValidationError",
    "required": [
     "loc",
     "msg",
     "type"
    ],
    "type": "object",
    "properties": {
     "loc": {
      "title": "Location",
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "msg": {
      "title": "Message",
      "type": "string"
     },
     "type": {
      "title": "Error Type",
      "type": "string"
     }
    }
   },
   "AiEditAPIRequest": {
    "title": "AiEditAPIRequest",
    "required": [
     "input",
     "options"
    ],
    "type": "object",
    "properties": {
     "output": {
      "title": "Output",
      "anyOf": [
       {
        "$ref": "#/components/schemas/AIEditRequestOutputObject"
       },
       {
        "type": "string",
        "minLength": 1,
        "maxLength": 4096,
        "format": "uri"
       }
      ],
      "description": "Customize output format, destination and number of images.",
      "default": {
       "number_of_images": 1,
       "format": "png"
      }
     },
     "input": {
      "title": "Input URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Image must be accessible by our system.",
      "format": "uri"
     },
     "options": {
      "title": "Options",
      "allOf": [
       {
        "$ref": "#/components/schemas/AiEditRequestOptionsObject"
       }
      ],
      "description": "Customize the generation."
     }
    },
    "additionalProperties": false
   },
   "AIEditRequestOutputObject": {
    "title": "AIEditRequestOutputObject",
    "type": "object",
    "properties": {
     "number_of_images": {
      "title": "Number of images",
      "maximum": 4,
      "minimum": 1,
      "type": "integer",
      "description": "Number of output images.",
      "default": 1
     },
     "destination": {
      "title": "Destination",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "Customize the result output.",
      "format": "uri"
     },
     "format": {
      "allOf": [
       {
        "$ref": "#/components/schemas/AiEditFormatEnum"
       }
      ],
      "description": "Output image format.",
      "default": "png"
     }
    },
    "additionalProperties": false
   },
   "AiEditFormatEnum": {
    "title": "AiEditFormatEnum",
    "enum": [
     "jpeg",
     "png"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "AiEditRequestOptionsObject": {
    "title": "AiEditRequestOptionsObject",
    "required": [
     "prompt"
    ],
    "type": "object",
    "properties": {
     "model": {
      "allOf": [
       {
        "$ref": "#/components/schemas/AIEditModelAPI"
       }
      ],
      "description": "Model to be used for generation.",
      "default": "v2"
     },
     "prompt": {
      "title": "Prompt",
      "maxLength": 5000,
      "minLength": 3,
      "type": "string",
      "description": "Prompt for the generation."
     },
     "aspect_ratio": {
      "allOf": [
       {
        "$ref": "#/components/schemas/AiEditAspectRatio"
       }
      ],
      "description": "Aspect ratio of the generated images."
     },
     "inference_steps": {
      "title": "Inference Steps",
      "maximum": 50,
      "minimum": 1,
      "type": "integer",
      "description": "Number of inference steps."
     },
     "guidance_scale": {
      "title": "Guidance Scale",
      "maximum": 10,
      "minimum": 1,
      "type": "number",
      "description": "Guidance scale for the generation."
     }
    },
    "additionalProperties": false
   },
   "AIEditModelAPI": {
    "title": "AIEditModelAPI",
    "enum": [
     "v1",
     "v2"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "AiEditAspectRatio": {
    "title": "AiEditAspectRatio",
    "enum": [
     "1:1",
     "2:3",
     "3:2",
     "3:4",
     "4:3",
     "9:16",
     "16:9",
     "9:21",
     "21:9"
    ],
    "type": "string",
    "description": "An enumeration."
   },
   "Response_AiEditAcceptedResponse_": {
    "title": "Response[AiEditAcceptedResponse]",
    "type": "object",
    "properties": {
     "data": {
      "$ref": "#/components/schemas/AiEditAcceptedResponse"
     }
    },
    "description": "Wrapper for responses"
   },
   "AiEditAcceptedResponse": {
    "title": "AiEditAcceptedResponse",
    "required": [
     "id",
     "status",
     "created_at",
     "request",
     "result_url"
    ],
    "type": "object",
    "properties": {
     "id": {
      "title": "Id",
      "type": "integer"
     },
     "status": {
      "$ref": "#/components/schemas/APIV1Status"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     },
     "request": {
      "title": "Request",
      "type": "object"
     },
     "result_url": {
      "title": "Result Url",
      "maxLength": 65536,
      "minLength": 1,
      "type": "string",
      "format": "uri"
     }
    }
   },
   "Response_AiEditResultResponse_": {
    "title": "Response[AiEditResultResponse]",
    "type": "object",
    "properties": {
     "data": {
      "$ref": "#/components/schemas/AiEditResultResponse"
     }
    },
    "description": "Wrapper for responses"
   },
   "AiEditResultResponse": {
    "title": "AiEditResultResponse",
    "required": [
     "id",
     "status",
     "created_at",
     "request"
    ],
    "type": "object",
    "properties": {
     "id": {
      "title": "Id",
      "type": "integer"
     },
     "status": {
      "$ref": "#/components/schemas/APIV1Status"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     },
     "request": {
      "title": "Request",
      "type": "object"
     },
     "errors": {
      "title": "Errors",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/AiEditError"
      }
     },
     "result": {
      "$ref": "#/components/schemas/AiEditResult"
     }
    }
   },
   "AiEditError": {
    "title": "AiEditError",
    "required": [
     "error",
     "created_at"
    ],
    "type": "object",
    "properties": {
     "error": {
      "title": "Error",
      "type": "string"
     },
     "created_at": {
      "title": "Created At",
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "AiEditResult": {
    "title": "AiEditResult",
    "required": [
     "input_object",
     "output_objects"
    ],
    "type": "object",
    "properties": {
     "input_object": {
      "$ref": "#/components/schemas/AiEditImageObject"
     },
     "output_objects": {
      "title": "Output Objects",
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/AiEditOutputImageObject"
      }
     }
    }
   },
   "AiEditImageObject": {
    "title": "AiEditImageObject",
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension."
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as 'media type')"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format."
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     }
    }
   },
   "AiEditOutputImageObject": {
    "title": "AiEditOutputImageObject",
    "type": "object",
    "properties": {
     "ext": {
      "title": "Ext",
      "type": "string",
      "description": "File extension."
     },
     "mps": {
      "title": "Mps",
      "type": "number",
      "description": "Megapixel count"
     },
     "mime": {
      "title": "Mime",
      "type": "string",
      "description": "MIME type (also known as 'media type')"
     },
     "format": {
      "title": "Format",
      "type": "string",
      "description": "File format."
     },
     "width": {
      "title": "Width",
      "type": "integer",
      "description": "Image width in pixels"
     },
     "height": {
      "title": "Height",
      "type": "integer",
      "description": "Image height in pixels"
     },
     "tmp_url": {
      "title": "Tmp Url",
      "type": "string",
      "description": "Temporal URL of a processed image"
     },
     "object_key": {
      "title": "Object Key",
      "type": "string",
      "description": "Path to a processed image in a bucket"
     },
     "object_bucket": {
      "title": "Object Bucket",
      "type": "string",
      "description": "Bucket name"
     },
     "object_uri": {
      "title": "Object Uri",
      "type": "string",
      "description": "URI of a processed image in a bucket"
     },
     "claid_storage_uri": {
      "title": "Claid Storage Uri",
      "type": "string",
      "description": "URI of a processed image in a storage"
     }
    }
   },
   "EditRequest": {
    "title": "EditRequest",
    "required": [
     "input",
     "operations"
    ],
    "type": "object",
    "properties": {
     "input": {
      "title": "Input URL",
      "maxLength": 4096,
      "minLength": 1,
      "type": "string",
      "description": "URL of the input image. Should be from 1 to 512 characters. Image must be accessible by our system.",
      "format": "uri"
     },
     "operations": {
      "title": "Operations",
      "allOf": [
       {
        "$ref": "#/components/schemas/ImageOperations"
       }
      ],
      "description": "Customize the editing workflow so that the output images meet your requirements."
     },
     "output": {
      "title": "Output",
      "anyOf": [
       {
        "$ref": "#/components/schemas/ImageOutputOptions"
       },
       {
        "type": "string",
        "minLength": 1,
        "maxLength": 4096,
        "format": "uri"
       }
      ],
      "description": "Customize the result output.",
      "default": {
       "format": "jpeg"
      }
     }
    },
    "additionalProperties": false
   },
   "ImageOperations": {
    "title": "image operations options",
    "type": "object",
    "properties": {
     "restorations": {
      "title": "Restorations",
      "allOf": [
       {
        "$ref": "#/components/schemas/RestorationsOptions"
       }
      ],
      "description": "Restore lost details and decompress image with a wide range of AI-powered neural networks. By default, both operations is turned off.",
      "default": {
       "polish": false
      }
     },
     "adjustments": {
      "title": "Adjustments",
      "allOf": [
       {
        "$ref": "#/components/schemas/AdjustmentsOptions"
       }
      ],
      "description": "Change image histogram: set brightness, saturation, dynamic range, balance out colors and lighting. By default, no adjustments are made."
     },
     "background": {
      "title": "Background",
      "allOf": [
       {
        "$ref": "#/components/schemas/BackgroundOptions"
       }
      ],
      "description": "Remove the background and set a solid color. By default, no changes are made.",
      "default": {
       "remove": false,
       "blur": false,
       "use_original_alpha": false
      }
     },
     "resizing": {
      "title": "Resizing",
      "allOf": [
       {
        "$ref": "#/components/schemas/ResizingOptions"
       }
      ],
      "description": "Set the final image size. Crop or fit image in canvas. By default, API will perform all calculations respecting the original image aspect ratio.",
      "default": {
       "width": "auto",
       "height": "auto",
       "fit": "crop"
      }
     },
     "padding": {
      "title": "Padding",
      "type": "string",
      "description": "Add a space around the object equally to each of 4 sides, or for height&width separately. Can not be bigger than half of image width/height. By default, padding is not applied."
     },
     "privacy": {
      "title": "Privacy",
      "allOf": [
       {
        "$ref": "#/components/schemas/PrivacyOptions"
       }
      ],
      "description": "Manage sensitive information on the image.",
      "default": {
       "blur_car_plate": false,
       "identity_crop": false
      }
     },
     "generative": {
      "title": "Generative",
      "allOf": [
       {
        "$ref": "#/components/schemas/GenerativeOptions"
       }
      ],
      "description": "Transform the image using generative models."
     }
    },
    "additionalProperties": false
   },
   "RestorationsOptions": {
    "title": "restorations options",
    "type": "object",
    "properties": {
     "decompress": {
      "allOf": [
       {
        "$ref": "#/components/schemas/DecompressEnum"
       }
      ],
      "description": "The decompress operation allows you to remove distortion and artifacts caused by image compression methods. It can be used in conjunction with the upscale operation to prepare an image for upscaling.\n\n| Value | Description |\n| --- | --- |\n| null | DEFAULT. No restoration applied.|\n| `\"moderate\"` | Removes JPEG artifacts from the image.|\n| `\"strong\"` | Removes JPEG artifacts more aggressively than \"moderate\".|\n| `\"auto\"` | Automatically detects and remove JPEG artifacts if needed.|"
     },
     "upscale": {
      "title": "Upscale",
      "anyOf": [
       {
        "$ref": "#/components/schemas/UpscaleEnum"
       },
       {
        "$ref": "#/components/schemas/UpscalePhotoOptions"
       }
      ],
      "description": "The upscale operation allows you to improve the overall quality of an image by rendering out new pixels. The upscale operation works along with resizing through numeric or percentage values for upscaling."
     },
     "polish": {
      "title": "Polish image",
      "type": "boolean",
      "description": "If `true`, polishes an image",
      "default": false
     }
    },
    "additionalProperties": false
   },
   "DecompressEnum": {
    "title": "Decompress",
    "enum": [
     "moderate",
     "strong",
     "auto"
    ],
    "type": "string",
    "description": "Selects the restoration mode.\n\n| Value | Description |\n| --- | --- |\n| `null` | DEFAULT. No restoration applied.|\n| `\"moderate\"` | Removes JPEG artifacts from the image.|\n| `\"strong\"` | Removes JPEG artifacts more aggressively than `\"moderate\"`.|\n| `\"auto\"` | Automatically detects and remove JPEG artifacts if needed.|"
   },
   "UpscaleEnum": {
    "title": "Upscale",
    "enum": [
     "smart_enhance",
     "smart_resize",
     "faces",
     "digital_art",
     "photo"
    ],
    "type": "string",
    "description": "Upscales the image with specified type of image upscaling neural network. \n\n| Value | Description |\n| --- | --- |\n| `null` | DEFAULT. Interpolation. Used when output image resolution is smaller than the input resolution.|\n| `\"smart_enhance\"` | Used for small low quality product, real estate and food images.|\n| `\"smart_resize\"` | Used for high quality images.|\n| `\"faces\"` | Used for images containing persons.|\n| `\"digital_art\"` | Used for drawings, illustrations, paintings, cartoons, anime, etc.|\n| `\"photo\"` | Used for images taken by mobile devices or digital camera of people, nature, architecture, etc.|"
   },
   "UpscalePhotoOptions": {
    "title": "photo upscale options",
    "required": [
     "type",
     "version"
    ],
    "type": "object",
    "properties": {
     "type": {
      "title": "Type",
      "enum": [
       "photo"
      ],
      "type": "string"
     },
     "version": {
      "title": "Version",
      "allOf": [
       {
        "$ref": "#/components/schemas/PhotoVersionEnum"
       }
      ],
      "description": "Upscales the image with specified version of photo upscaling neural network. \n\n| Value | Description |\n| --- | --- |\n| `\"1\"` | Is deprecated and not recommended.|\n| `\"2\"` | Used for restoring image quality that is taken by mobile devices or digital camera.|\n| `\"3\"` | Used for restoring image quality, a bit more aggressively than \"2\".|\n"
     }
    },
    "additionalProperties": false
   },
   "PhotoVersionEnum": {
    "title": "Version",
    "enum": [
     "1",
     "2",
     "3"
    ],
    "type": "string",
    "description": "Upscales the image with specified version of photo upscaling neural network. \n\n| Value | Description |\n| --- | --- |\n| `\"1\"` | Is deprecated and not recommended.|\n| `\"2\"` | Used for restoring image quality that is taken by mobile devices or digital camera.|\n| `\"3\"` | Used for restoring image quality, a bit more aggressively than `\"2\"`.|\n"
   },
   "AdjustmentsOptions": {
    "title": "adjustments options",
    "type": "object",
    "properties": {
     "hdr": {
      "title": "Hdr",
      "anyOf": [
       {
        "type": "integer",
        "description": "HDR effect intensity.",
        "minimum": 0,
        "maximum": 100
       },
       {
        "$ref": "#/components/schemas/HdrOptions"
       }
      ],
      "description": "Balances out colors and lighting. Allows to turn on `stitching` for stitched 360 photos.",
      "default": 0
     },
     "exposure": {
      "title": "Exposure",
      "maximum": 100,
      "minimum": -100,
      "type": "integer",
      "description": "Decrease (negative integer) or increase (positive integer) exposure.",
      "default": 0
     },
     "saturation": {
      "title": "Saturation",
      "maximum": 100,
      "minimum": -100,
      "type": "integer",
      "description": "Decrease (negative integer) or increase (positive integer) saturation.",
      "default": 0
     },
     "contrast": {
      "title": "Contrast",
      "maximum": 100,
      "minimum": -100,
      "type": "integer",
      "description": "Decrease (negative integer) or increase (positive integer) contrast.",
      "default": 0
     },
     "sharpness": {
      "title": "Sharpness",
      "maximum": 100,
      "minimum": 0,
      "type": "integer",
      "description": "Increase sharpness.",
      "default": 0
     }
    },
    "additionalProperties": false
   },
   "HdrOptions": {
    "title": "hdr options",
    "type": "object",
    "properties": {
     "intensity": {
      "title": "Intensity",
      "maximum": 100,
      "minimum": 0,
      "type": "integer",
      "description": "HDR effect intensity.",
      "default": 100
     },
     "stitching": {
      "title": "Stitching",
      "type": "boolean",
      "description": "Set to true for seamless HDR effect on stitched 360 photos.",
      "default": false
     }
    },
    "additionalProperties": false
   },
   "BackgroundOptions": {
    "title": "background options",
    "type": "object",
    "properties": {
     "remove": {
      "title": "Remove",
      "anyOf": [
       {
        "type": "boolean",
        "title": "Remove background",
        "description": "If `true`, removes background"
       },
       {
        "$ref": "#/components/schemas/BackgroundRemovalOptions"
       }
      ],
      "description": "Allows to turn on and configure image background removal.",
      "default": false
     },
     "color": {
      "title": "Color",
      "anyOf": [
       {
        "type": "string",
        "title": "Color",
        "description": "Color as a hexadecimal. Paints the background of the image. Examples: `\"#ffffff\"`, `\"#000000\"`."
       },
       {
        "$ref": "#/components/schemas/BackgroundEnum"
       }
      ],
      "description": "Color as a hexadecimal. Sets a background color. Defaults to the `#ffffff` (white) color, or `transparent` if an input image has transparency."
     },
     "blur": {
      "title": "Blur",
      "anyOf": [
       {
        "type": "boolean",
        "title": "Blur background",
        "description": "If `true`, blurs background. Defaults to `false`."
       },
       {
        "$ref": "#/components/schemas/BackgroundBlurOptions"
       }
      ],
      "description": "Allows to turn on and configure image background blurring.",
      "default": false
     }
    },
    "additionalProperties": false
   },
   "BackgroundRemovalOptions": {
    "title": "background removal options",
    "type": "object",
    "properties": {
     "clipping": {
      "title": "Clip to object",
      "type": "boolean",
      "description": "If `true` image will be cropped up to the edges of the foreground object.",
      "default": false
     },
     "selective": {
      "title": "Selective",
      "allOf": [
       {
        "$ref": "#/components/schemas/BackgroundSelectiveOptions"
       }
      ],
      "description": "Allows to select an object to keep on the image and remove the background around it."
     },
     "category": {
      "title": "Category",
      "allOf": [
       {
        "$ref": "#/components/schemas/BackgroundCategoryEnum"
       }
      ],
      "description": "The background removal category hints the type of objects on the image."
     }
    },
    "additionalProperties": false
   },
   "BackgroundSelectiveOptions": {
    "title": "BackgroundSelectiveOptions",
    "required": [
[...]
